/* * {
  border: 1px solid red;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --primary-color: #047aed;
  --white-color: #fff;
  --black-color: #000;
  --error-color: #e63946;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--primary-color);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  width: 650px;
  background-color: var(--white-color);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.box {
  flex: 1;
}


/* Modals */
.modal {
  display: none;
  z-index: 1;
}

.modal.active {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

.overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: -1; /* Place the overlay behind the popup */
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    height: 100%;
    padding: 20px;
  }
}
