@media (max-width: 450) {
  .container {
    flex-direction: column;
    padding-bottom: 15px;
    height: auto;
    width: 90%;
    margin: 0; /* Remove any margin if present */
    padding: 0;
  }
  .form-btn-ctn {
    width: 90%;
  }

  .form {
    max-width: 100%; /* Adjust the maximum width of the form for smaller screens */
  }

  .message {
    font-size: 0.9rem; /* Adjust the font size of the message for smaller screens */
    display: flex;
    flex-wrap: wrap;
  }
}
