.user-weight-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.form-buttons-add-user-weight {
  display: flex;
  justify-content: center;
}

.input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 5px 0;
}

.input-container input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.message-add-user-weight {
  color: #007bff;
  font-weight: bold;
  margin-top: 10px;
  text-align: center;
}

.button-add-user-weight {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 10px;
}

/* Media queries and other styles... */
