.dashboard {
  background-color: var(--primary-color);
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: .5fr repeat(4, 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 17px;
}

.sidebar {
  grid-area: 1 / 1 / 6 / 2; 
  overflow: hidden;
  height: 100vh;
}

.header {
  grid-area: 1 / 1 / 2 / 6; 
  text-align: center;
}

.another-item-chart { 
  grid-area: 2 / 2 / 4 / 4; 
}
.user-calories-chart { 
  grid-area: 2 / 4 / 4 / 6; 
}
.user-weight-chart { 
  grid-area: 4 / 2 / 6 / 6; 
  margin-left: -550px
}

