/* CSS for the dashboard and containers */
.dashboard {
  display: flex;
  flex-direction: row;
  overflow: hidden;
  background-color: var(--primary-color);
}

.bottomChart {
  width: 580px;
  right: 100px;
}

.sidebarContainer {
  display: flex;
  position: relative;
  height: 100vh;
}

.widgetsContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.topContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  flex: 1;
}

.bottomContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.widgetBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:350px;
  height:350px;
  background-color: var(--white-color);
  border-radius: 10px;
}

.smallWidget {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.largeWidgetBox {
  display: flex;

}

/* @media screen and (max-width: 768px) {
} */
