.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px;
    width: 300px;
    background-color: var(--white-color);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
  }
  
  .prompt {
    color: var(--primary-color);
    font-size: 1.5rem;
  }
  
  .buttons {
    display: flex;
    justify-content: space-between;
  }
  
  .cancel-button,
  .delete-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button {
    background-color: var(--error-color);
  }
  