.ctn-login {
  background: linear-gradient(to right, --white-color, transparent), #6a6e6e;
}

.left-box-lgn {
  justify-content: center; /*these may need to be changed in the future and applied locally*/
  align-items: center; /*these may need to be changed in the future and applied locally*/
}

.right-box-lgn {
  justify-content: center; /*these may need to be changed in the future and applied locally*/
  align-items: center; /*these may need to be changed in the future and applied locally*/
}
.img-lgn {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 0 10px 10px 0;
}

@media (max-width: 480px) {
  .ctn-login {
    flex-direction: column;
    padding-bottom: 15px;
    height: 90%;
    width: 90%;
  }

  .img-rbox {
    display: none;
  }
}

@media (max-width: 768px) {
  .ctn-login {
    padding-bottom: 15px;
    height: 85%;
    width: 90%;
  }
}
