.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #047aed;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 650px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2); /* Adjust the box-shadow properties */
    background: linear-gradient(to right, #fff, transparent), #6A6E6E;
    border-radius: 10px; /* Optional: Add rounded corners to the container */

}

.box {
    flex: 1; /* Each box takes up equal space */
}

.left-box {
    /* background-color: #ffcccc; Adjust background color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.right-box {

    /* background-color: #ccffcc; Adjust background color as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* To maintain the image's aspect ratio */
    border-radius: 0 10px 10px 0; /* Top-right and bottom-right corners rounded */
}

@media (max-width: 480px) {
    .container {
        flex-direction: column;
        padding-bottom: 15px;
        height: 90%;
        width: 90%;
    }
 
    .right-box {
        display: none;
    }
}