.login {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-color: #047aed;
    
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    width: 650px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to right, #fff, transparent), #6A6E6E;
    border-radius: 10px; 

}

.box-login {
    flex: 1; 

}

.left-box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

}

.right-box-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

}

.img-login {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    border-radius: 0 10px 10px 0;

}

@media (max-width: 480px) {
    .container-login {
        flex-direction: column;
        padding-bottom: 15px;
        height: 90%;
        width: 90%;

    }
 
    .right-box-login {
        display: none;
    
    }
}